<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}AsesorYa.com - simplificando el derecho, facilitando tu vida{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:description" content="AsesorYa.com - simplificando el derecho, facilitando tu vida" />

    <link rel="stylesheet" href="style.css?v={% version %}"/>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>
  <body class="bg-slate-900 leading-relaxed text-slate-800 antialiased selection:bg-teal-500 selection:text-teal-900">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>
