---
layout: "layouts/base.njk"
---

<div class="relative h-screen w-full flex items-center justify-center bg-cover bg-center text-center px-5" style="background-image:url(/assets/img/bg.webp);">
  <div class="absolute top-0 right-0 bottom-0 left-0 bg-gray-900 opacity-75"></div>

  <div class="z-50 flex flex-col justify-center text-white w-full h-screen">
    {% include 'components/language-selector.njk' %}

    <h1 class="text-5xl mb-6">{{ "gastos.headline" | t }}</h1>
  </div>
</div>
